parameters:
    level: 1
    paths:
        - woocommerce-es.php		
        - includes
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
    excludePaths:
        - vendor/
        - node_modules (?)